# Install our shell role packages for all machines
---
- name: Add apt key for weechat
  apt_key:
    keyserver: p80.pool.sks-keyservers.net
    id: 11E9DE8848F2B65222AA75B8D1820DB22A11534E
    state: present

- name: Add apt key for toot
  apt_key:
    url: https://keybase.io/ihabunek/pgp_keys.asc
    state: present 

- name: Add apt key for zandronum
  apt_key:
    url: http://debian.drdteam.org/drdteam.gpg
    state: present

- name: Add apt key for mono-project
  apt_key:
    keyserver: hkp://keyserver.ubuntu.com:80
    id: 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
    state: present

- name: Add weechat repo
  apt_repository: 
    repo: 'deb https://weechat.org/debian buster main' 
    state: present
    filename: weechat
    update_cache: yes

- name: Add toot repo
  apt_repository:
    repo: 'deb http://bezdomni.net/packages/ ./'
    state: present
    update_cache: yes

- name: Add zandronum repo
  apt_repository:
    repo: 'deb http://debian.drdteam.org/ stable multiverse' 
    state: present
    update_cache: yes
    
- name: Add debian contrib
  apt_repository:
    repo: 'deb http://ftp.de.debian.org/debian stable main contrib'
    state: present
    update_cache: yes

- name: Add Debian unstable
  apt_repository:
    repo: 'deb http://deb.debian.org/debian/ unstable main'
    state: present
    update_cache: yes

- name: Add mono-project repo
  apt_repository:
    repo: 'deb https://download.mono-project.com/repo/debian stable-buster main' 
    state: present
    update_cache: yes

- name: Install baseline packages
  apt: 
    name: "{{ packages }}"
    state: present
    update_cache: yes
  vars:
    packages:
      - alpine
      - adwaita-icon-theme
      - analog
      - autoconf2.13
      - bison
      - bsdgames
      - build-essential
      - byobu
      - bzip2
      - bzflag-server
      - ca-certificates-mono
      - caca-utils
      - cmake
      - context
      - cowsay
      - devscripts
      - dos2unix
      - dosemu
      - dovecot-pop3d
      - dovecot-core
      - dovecot-imapd
      - eggdrop
      - elinks
      - emacs
      - ffmpeg
      - finch
      - finger
      - fingerd
      - fish
      - flex
      - fortune
      - frotz
      - gitweb
      - gopher
      - gnome-icon-theme
      - gnome-icon-theme-extras
      - htop
      - hugo
      - ident2
      - inkscape
      - imagemagick
      - irssi
      - isync
      - jekyll
      - ksh
      - jq
      - lbzip2
      - lftp
      - libapache2-mod-php
      - libarchive-dev
      - libc-dev
      - libc++-dev
      - libconvert-binhex-perl
      - libffi-dev
      - libfreetype6
      - libfreetype6-dev
      - libjpeg62-turbo
      - libjpeg62-turbo-dev
      - libmime-tools-perl
      - libncurses5-dev
      - libopencolorio1v5
      - libopencolorio-dev
      - libsdl1.2-dev
      - libsdl2-dev
      - libssl-dev
      - libtool
      - libtool-bin
      - linux-headers-amd64
      - lua5.3
      - lynx
      - make
      - mercurial
      - mc
      - mc-data
      - midori
      - minetest-data
      - minetest-mod-advspawning
      - minetest-mod-animalmaterials
      - minetest-mod-animals
      - minetest-mod-maidroid
      - minetest-mod-mesecons
      - minetest-mod-mobf-core
      - minetest-mod-mobf-trap
      - minetest-mod-moreblocks
      - minetest-mod-moreores
      - minetest-mod-nether
      - minetest-mod-pipeworks
      - minetest-mod-torches
      - minetest-server
      - mkdocs
      - mkdocs-doc
      - mkdocs-bootstrap
      - mkdocs-bootswatch
      - mono-apache-server
      - mono-complete
      - mono-dbg
      - mono-devel
      - mono-xsp4
      - moon-buggy
      - mosh
      - mutt
      - mysql-client
      - nasm
      - nbsdgames
      - neofetch
      - neomutt
      - newsbeuter
      - newsboat
      - openbsd-inetd
      - opendkim
      - openssl
      - p7zip-full
      - pandoc
      - pelican
      - pelican-doc
      - php-imagick
      - php-memcache
      - php-pear
      - php
      - php-curl
      - php-gd
      - php-imap
      - php-intl
      - php-mysql
      - php-pspell
      - php-recode
      - php-sqlite3
      - php-tidy
      - php-xmlrpc
      - php7.3-xsl
      - php7.3-curl
      - php7.3-xml
      - pngtools
      - postfix-policyd-spf-python
      - proot
      - python
      - python-certbot-apache
      - python-flask
      - python-pip
      - python-potr
      - python-twisted
      - python3
      - python3-flask
      - python3-pip
      - python3-toot
      - python3-twisted
      - python3-potr
      - python3-venv
      - qemu
      - qemu-efi
      - qemu-system
      - racket
      - ranger
      - ruby-paint
      - ruby-trollop
      - rustc
      - scala
      - scala-doc
      - scala-library
      - screen
      - sipcalc
      - staticsite
      - stow
      - talk
      - talkd
      - tango-icon-theme
      - tcl
      - tcl-dev
      - tcl-tls
      - tcl8.6
      - tcllib
      - tcltls
      - texinfo
      - tdom
      - telnet
      - telegram-cli
      - todotxt-cli
      - uuid
      - vim
      - vrms
      - w3m-img
      - weechat
      - weechat-lua
      - weechat-php
      - weechat-python
      - weechat-ruby
      - weechat-scripts
      - weechat-tcl
      - whois
      - wordgrinder-ncurses
      - x11vnc
      - xdm
      - xfce4
      - xfce4-goodies
      - task-xfce-desktop
      - zandronum-server
      - znc
      - znc-dev
      - znc-perl
      - znc-python
      - znc-tcl
      - zsh

#Install python packages, when it's the latest      
- name: Install pip packages
  pip: 
    name: "{{ packages }}"
    state: present
  vars:
    packages:
       - rtv
        
- name: Install locally created bins
  copy:
    src: ../files/chat
    dest: /usr/local/bin
    owner: root
    group: root
    mode: 0755

- name: Install remote DCSS
  copy:
    src: ../files/usr/local/bin/dcss
    dest: /usr/local/bin/dcss
    owner: root
    group: root
    mode: 0755

- name: Instal tldr
  copy:
    src: ../files/usr/local/bin/tldr
    dest: /usr/local/bin/tldr
    owner: root
    group: root
    mode: 0755

- name: Install CLI wiki browser
  copy:
    src: ../files/usr/local/bin/wiki
    dest: /usr/local/bin/wiki
    owner: root
    group: root
    mode: 0755

- name: Install Telehack wrapper
  copy:
    src: ../files/usr/local/bin/telehack
    dest: /usr/local/bin/telehack
    owner: root
    group: root
    mode: 0755

- name: Install Backup Job
  copy:
    src: ../files/usr/local/bin/backup
    dest: /usr/local/bin/backup
    owner: root
    group: root
    mode: 0774
