---
- name: Setting up gooly
  user:
    name: gooly
    groups: tilde
    state: present
    skeleton: /etc/skel
    shell: /bin/bash
    system: no
    createhome: yes
    home: /home/gooly
- authorized_key:
    user: gooly
    state: present
    key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDSQLNqCtALiln4a8h2V7R+uhy/pGg/tq5PNpFP4YWSUneIhZFTNJUCFGm9is7xlFGRMfRkBlEf8ZgH+HI/frwnrJYQv5dE7PXlGP2yZOgRh8jmnuvoZnI6n/NxvY+ty4l07dfpUG40/LhSbZz42nVWEMJg5//3ft4diFMU/u76aQ0D5SplfKqh2QDVaHBcaRWp3dQoyGkjSU+THBnLHsEGBGRJ6HnfYmX78aHeIhfGeJ0m5y/O3eNkjVcXTOzNmYk9Ja015SnBdBhFLsPbg7KUFASQyMZMkOuCei1jwGHZV7ezeKrMee0TICYWIPm/cAVTBrhiAYOwC6IaxWjo3oe/ eran@eran-PC"
